:root {
  --main-color: #f80;
  --highlight-color: #fb4;
}

body {
  background-color: #EEE;
}

.splash {
  color: var(--main-color);
  text-shadow: 4px 0 0 black, -4px 0 0 black, 0 4px 0 black, 0 -4px 0 black,
               2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
               8px 8px 8px var(--main-color);
}

#tiles table {
  background-image:
    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
  background-size:12px 12px;
  background-position:0 0, 6px 6px;
}

#colHints, #rowHints {
  color: black;
}

#colHints td:nth-child(2n+1) {
  background-image: linear-gradient(180deg, #BBB, #EEE);
}

#rowHints tr:nth-child(2n+1) td {
  background-image: linear-gradient(90deg, #BBB, #EEE);
}

#grid td:nth-child(5n) {
  border-right: 1px solid black;
}

#grid tr:nth-child(5n) td {
  border-bottom: 1px solid black;
}

#rowcursor, #colcursor {
  border-color: #FB0;
  z-index: 1;
}

.validColor:after, .invalidColor:after, .crossed:after {
  -webkit-text-stroke: 1.5px black;
}

/* Menu */

#header [data-icon] {
  color: var(--main-color);
}

#header [data-icon] .caption {
  border-color: var(--main-color);
}

#header [data-icon]:hover:not(.disabled) {
  color: var(--highlight-color);
}

#header.left [data-icon]:before {
  text-shadow: 5px 5px 5px #a50;
}

#header.top [data-icon]:before {
  text-shadow: 3px 3px 3px #a50;
}

/* Hints */

.matchedHint {
  background-color: #eca;
}
