:root {
  --main-color: #3DB6FC;
  --highlight-color: #90DCF5;
}

body {
  background-color: #222;
}

.splash {
  color: var(--main-color);
  text-shadow: 4px 0 0 lightgrey, -4px 0 0 lightgrey, 0 4px 0 lightgrey, 0 -4px 0 lightgrey,
               2px 2px lightgrey, -2px -2px 0 lightgrey, 2px -2px 0 lightgrey, -2px 2px 0 lightgrey,
               8px 8px 8px var(--main-color);
}

#tiles table {
  background-image:
    linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333),
    linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333);
  background-size:12px 12px;
  background-position:0 0, 6px 6px;
}

#colHints, #rowHints {
  color: white;
}

#colHints td:nth-child(2n+1) {
  background-image: linear-gradient(180deg, #555, #222);
}

#rowHints tr:nth-child(2n+1) td {
  background-image: linear-gradient(90deg, #555, #222);
}

#grid td:nth-child(5n) {
  border-right: 1px solid white;
}

#grid tr:nth-child(5n) td {
  border-bottom: 1px solid white;
}

#rowcursor, #colcursor {
  border-color: #90DCF5;
  z-index: 1;
}

.validColor:after, .invalidColor:after, .crossed:after {
  -webkit-text-stroke: 1px lightgrey;
}

/* Menu */

#header [data-icon] {
  color: var(--main-color);
}

#header [data-icon] .caption {
  border-color: var(--main-color);
}

#header [data-icon]:hover:not(.disabled) {
  color: var(--highlight-color);
}

#header.left [data-icon]:before {
  text-shadow: 5px 5px 5px #28a;
}

#header.top [data-icon]:before {
  text-shadow: 3px 3px 3px #28a;
}

/* Hints */

.matchedHint {
  background-color: #045;
}
