body {
  display: flex;
  flex-flow: row;
}

#header {
  flex: 0 0 10vh;
}

#header > div {
  margin: 8px auto;
}

#header [data-icon] {
  font-variant: small-caps;
}

#header [data-icon]:before {
  display: block;
  font-size: 6vh;
}

@media (max-height:800px)
{
  #header [data-icon] .caption {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 40px;
    width: 200px;

    background: black;
    border: 1px solid;
    border-width: 1px 0;
    padding: 1px 4px;
    text-align: center;

    opacity: 0;
    transition: opacity 1s;
  }

  #header [data-icon]:hover .caption {
    visibility: visible;
    opacity: 1;
  }
}
