body {
  font-family: cursive;
  font-size: 14px;
  paint-order: stroke fill;
}

#game, #header, .button, #puzzle-list {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#tiles td, #colHints td, #rowHints td,
#header [data-icon]:not(.disabled),
#settings [data-icon],
.color:not(.selectedColor), .color-navig,
.puzzlink, #puzzle-title, #header .button {
  cursor: pointer;
}


/* --- Icons --- */

@font-face {
  font-family: 'icons';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  speak: none;
}


/* --- Layout --- */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#game {
  flex: 0 1 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  min-height: 0;
}

.filler {
  flex: 1 0 0px !important;
}

#colors {
  flex: 0 0 74px;
  overflow-y: auto;
}

#grid {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#grid .layout {
  display: flex;
  flex-flow: row;
}

#grid .layout:nth-child(1), #grid .layout > div:nth-child(1) {
  flex: 0 0 auto;
}

#grid .layout:nth-child(2), #grid .layout > div:nth-child(2) {
  flex: 0 1 auto;
}

#grid .layout:nth-child(2) {
  overflow: auto;
}

#blocks {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#rowHints, #colHints {
  overflow: hidden;
}

tr.blank td, td.blank {
  border: none !important;
  background: none !important
}

#tiles {
  overflow: auto;
}


/* --- Grid --- */

#game {
  transition: opacity 0.5s;
}

#grid table {
  border-collapse: collapse;
}

#grid td {
  margin: 0px;
  padding: 0px;
}

#tiles td {
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.5s;
}

.highlight {
  background-image: repeating-linear-gradient(45deg,
    rgba(0,0,0,0.1), rgba(0,0,0,0.1) 3px,
    rgba(255,255,255,0.1) 3px, rgba(255,255,255,0.1) 6px);
}

#tiles td, #colHints td {
  min-width: 24px;
  border-right: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

#tiles td, #rowHints td {
  height: 24px;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

.crossed:after {
  font-size: 16px;
  font-weight: 1000;
  content: '\2716';
}

#tiles td.erroneous {
  border: 1px solid red;
  box-shadow: 0 0 8px 4px rgba(255, 0, 0, 0.7);
}


/* --- Cursor and Highlighted blocks --- */

#rowcursor, #colcursor, .rowblock, .colblock {
  pointer-events: none;
  border-style: solid;
}

#rowcursor {
  border-width: 2px 0px;
}

#colcursor {
  border-width: 0px 2px;
}

.rowblock, .colblock {
  z-index: 2;
  border-color: black;
  border-width: 1px;
}

.rowblock span, .colblock span {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 10px;
}

.rowblock span {
  bottom: 0px;
}

.colblock span {
  right: 0px;
}


/* --- Hints --- */

#rowHints td {
  text-align: right;
}

#colHints td {
  vertical-align: bottom;
}

/* Fake (pseudo) element, that enables vertical-align */
.hint:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.hint {
  font-size: 14px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

.long.hint {
  font-size: 10px;
}

#rowHints .hint {
  display: inline-block;
  min-width: 20px;
}

#colHints .hint {
  display: block;
  clear: right;
  max-width: 24px;
}

.validHint {
  color: #8A8;
}

.invalidHint {
  color: red;
}


/* --- Canvas --- */

#canvas {
  background-color: #DDD;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


/* --- Color Picker --- */

#colors {
  padding: 12px;
  text-align: center;
}

.color-navig {
  font-size: 24px;
}

.color {
  position: relative;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 32px;
  font-size: 22px;
  font-weight: 1000;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}

.color:hover:not(.selectedColor) {
  left: 2px;
  top: -2px;
  box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.7);
}

.selectedColor {
  left: 5px;
  top: -5px;
  box-shadow: -2px 3px 8px 2px rgba(0, 0, 0, 0.7);
}

.validColor:after {
  content: '\2714';
  color: green;
}

.invalidColor:after {
  content: '\2716';
  color: red;
}

/* --- Menu --- */

#header {
  background-color: black;
  color: white;
  border-right: 1px solid white;
  text-align: center;
}

#cheat-count {
  color: red;
}

.progressbar {
  display: inline-block;
  margin: 0px;
  padding: 0px 4px;
  width: 38px;
  height: 12px;
}

.progressbar div {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.disabled {
   filter: grayscale(80%);
}


/* --- Boxes & splash texts --- */

.box, .splash {
  display: flex;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.splash {
  font-size: 64px;
}

.box {
  width: 520px;
  height: 80px;
  border: 1px solid black;
  box-shadow: -2px 4px 10px 2px black;
  background-color: rgba(200, 220, 250, 0.9);
  padding: 12px 20px;
  border-radius: 8px;
}

.box button {
  display: block;
  margin: 12px auto;
}

.confirm {
  font-weight: bold;
}

#info, #puzzles, #settings, #help {
  height: auto;
  display: block;
  z-index: 3;
}

#info dl {
  margin: 0;
  padding: 0;
}

#info dt  {
  clear: left;
  float: left;
  width: 100px;
  font-weight: bold;
}

#info dt:after {
  content: ':';
}

#info dd {
  margin-left: 100px;
  width: 280px;
}

h2#info-title {
  text-align: center;
}

canvas#info-image {
  display: block;
  margin: auto;
}

.attribution {
  display: flex;
  margin: 8px auto;
  flex-flow: row;
}

.attribution .licence-button {
  flex: 0 0 auto;
  margin: 0px 8px;
}

.attribution-text {
  flex: 1 1 auto;
}

#info dl {
  margin: 24px 72px;
}

#puzzle-list {
  display: block;
  max-height: 460px;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
  font-size: 13px;
}

#puzzle-list table {
  width: 100%;
}

#puzzle-list td, #puzzle-list th {
  padding: 1px 2px;
}

tr.puzzdir td {
  color: black;
  background-color: rgba(200, 200, 200, 0.4);
}

tr.puzzlink td {
  color: #014;
}

tr.puzzlink:hover {
  background-color: #bcd;
}

#settings [data-icon] {
  padding: 4px;
}

#settings [data-icon] .caption {
  padding-left: 4px;
}

#settings [data-icon]:hover {
  color: #f80;
}

#help {
  max-height: 800px;
  overflow-y: scroll;
}

#help kbd {
  color: green;
}

#help img {
  display: block;
  margin: auto;
}
