body {
  display: flex;
  flex-flow: column;
}

#header {
  flex: 0 0 35px;
  order: 0;
  display: flex;
  flex-flow: row;
}

#header > div {
  display: flex;
  flex: 0 0 48px;
  align-items: center;
}

#cheat-count {
  flex: 0 0 120px !important;
}

#button-pause {
  order: 100;
}

#chrono {
  order: 101;
  flex: 0 0 120px !important;
}

#progress {
  order: 102;
  flex: 0 0 120px !important;
}

#header [data-icon] {
  font-variant: small-caps;
  position: relative;
}

#header [data-icon]:before {
  margin: auto;
  font-size: 32px;
}

#header [data-icon] .caption {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 40px;
  width: 200px;

  background: black;
  border: 1px solid;
  border-width: 1px 0;
  padding: 1px 4px;
  text-align: center;

  opacity: 0;
  transition: opacity 1s;
}

#header [data-icon]:hover .caption {
  visibility: visible;
  opacity: 1;
}
